.btn {
    font-family: "Jost";
    font-weight: 500;
    font-size: 1.5rem;
    color:#333136;
    background-color: #fff;
    border-radius: 8px;
}

.header__hero__btn {
    padding:18px 25px 16px 24px;
    width:100%;
    max-width:152px;
    text-align: center;
    text-transform: uppercase;
}


.header__hero__btn:hover {
    background-color: #FFAD9B;
    color:#fff;
}

.your_prod__btn {
    padding:17px 18.5px 17px 18.5px;
}

.your_prod__btn:hover {
    background-color: #FFAD9B;
}